.Feed{
    flex : 0.4;
    border-right : 1px solid  var(--twitter-space-col);
    min-width: max-content;
    overflow-y: scroll;
    -ms-overflow-style : none;
    scrollbar-width: none;
}
.Feed::-webkit-scrollbar{
    display: none;
}
.Feed_header{
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid  var(--twitter-space-col);
    background-color: var(--twitter-bg-def);
    padding: 0.3rem 0;
}
.Feed_header--container{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}
.Feed_header--container h2{
    font-weight: 800;
    font-size : 1.15rem;
    align-self: center;
}
.Feed_header--container .Header-svg{
    width : 1.3rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.Feed_header--container .Header-svg:hover{
    background-color: var(--twitter-def-hover);
}
.Feed_header--container svg{
    width : 1.3rem;
    fill : var(--twitter-def-col);
}
@media only screen and (max-width : 670px){
    .Feed{
        min-width: 20rem;
        position: relative;
        flex: 1;
    }
}

@media only screen and (max-width : 550px){
    .Feed_header .Feed_header--container{
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      grid-gap: 1rem;
    }
}