body{
    --twitter-def-col : #1DA1F2;
    --twitter-def-hover :  #E8F5FE;
    --twitter-space-col : #EDF0F2;
    --twitter-space-coldark : #dfe6eb;
    --twitter-bg-def: white;
    --twitter-bg-dim : #15202B;
    --twitter-bg-dark : #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; 
}
.App{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
}